/* Top Style Sheet */

#oopisos-process-viewer-app-container .app-main {
    padding: var(--spacing-md);
    overflow-y: auto;
}

.top-table {
    width: 100%;
    border-collapse: collapse;
}

.top-table th {
    text-align: left;
    padding: var(--spacing-sm);
    border-bottom: 2px solid var(--color-border-primary);
    background-color: var(--color-background-medium);
    position: sticky;
    top: 0;
}

.top-table td {
    padding: var(--spacing-xs) var(--spacing-sm);
    border-bottom: 1px solid var(--color-border-secondary);
    white-space: pre-wrap;
    word-break: break-all;
}