/* Explorer Style Sheet */

.explorer__tree-pane,
.explorer__main-pane {
    padding: var(--spacing-sm);
    overflow-y: auto;
}

.explorer__tree-pane {
    width: 33.333333%;
    border-right: var(--border-width) solid var(--color-border-primary);
}

.explorer__main-pane {
    width: 66.666667%;
}

.explorer-tree,
.explorer-file-list {
    list-style: none;
}

.explorer-tree-item summary {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
}

.explorer-tree-item summary:hover {
    background-color: var(--color-background-light);
}

.explorer-tree-item[open]>summary {
    background-color: var(--color-accent-sky);
    color: var(--color-background-darkest);
}

.explorer-tree-item .selected {
    background-color: var(--color-info);
    color: var(--color-background-darkest);
    font-weight: 600;
}

.explorer-file-list li {
    display: flex;
    align-items: center;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}

.explorer-file-list li:hover {
    background-color: var(--color-background-light);
}

.explorer-item-name {
    flex: 1;
}

.explorer-item-perms {
    font-size: var(--font-size-sm);
    color: var(--color-text-subtle);
    margin-right: var(--spacing-md);
}

.explorer-item-size {
    font-size: var(--font-size-sm);
    color: var(--color-text-subtle);
    width: 6rem;
    text-align: right;
}

.context-menu {
    position: fixed;
    z-index: 1000;
    background-color: var(--color-background-dark);
    border: 1px solid var(--color-border-primary);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-drop-medium);
    padding: var(--spacing-xs) 0;
    min-width: 150px;
}

.context-menu-item {
    padding: var(--spacing-sm) var(--spacing-md);
    cursor: pointer;
    color: var(--color-text-secondary);
}

.context-menu-item:hover {
    background-color: var(--color-info);
    color: var(--color-background-darkest);
}

.context-menu-separator {
    height: 1px;
    background-color: var(--color-border-primary);
    margin: var(--spacing-xs) 0;
}